<!DOCTYPE html>
<html ng-app='recipes'>
<head>
  <title>Recipes &amp; Shopping List | by Spartecipes</title>
  
  <!-- ==================== App Stylesheets ======================= -->
  <link rel="stylesheet" href="dist/styles/style.min.css">
  
  
  <!-- ==================== Bower CSS Dependencies ======================= -->
  <!-- bower:css -->
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  
  <!-- ==================== Bower JS Dependencies ======================= -->
  <!-- bower:js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->

</head>

<!-- ==================== KeypressEvents Directive ======================= -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->

<body ng-controller="HeaderController" keypress-events>

<!-- ==================== Search Modal Directive ======================= -->

<search></search>


<div id="HeaderController">
  <!-- ====================  Search bar HTML ======================= -->
  <div id="wrapper">
 
    <div id="sidebar-wrapper">
      <div class="sidebar">
        <span class="title"> <strong> Ingredient List</strong> </span>
        <img id="wrap2" align="middle" src="x.png">
      </div> 
        <div class="recipeList"ng-repeat="(key, prop) in ingredientList">{{prop[0]}} {{prop[1]}} {{key}} </div>
      <div class="recipe"> <hr> <strong> Recipe List </strong> 
          <div ng-repeat="recipe in list">
            <div class="recipeName" ng-click="open(recipe.RecipeID)"> {{recipe.Title}} </div>
            <img class="recipeImage" ng-click="removeFromList(recipe.RecipeID)" align='middle'src="x.png">
          </div>
      </div>
    </div>
  </div>

  <div id="search">
    <form ng-model="searchCriteria" id="searchform">
      <label id="label" for="searchtext">search: </label>
      <input id="searchtext" name="searchtext" type="text" />
    </form>
  </div>

  <!-- ====================  Search bar HTML ======================= -->
  <div id="wrapper">
 
    <div id="sidebar-wrapper">
      <div class="sidebar">
        <span class="title"> <strong> Ingredient List</strong> </span>
        <img id="wrap2" align="middle" src="x.png">
      </div> 
        <div class="recipeList"ng-repeat="(key, prop) in ingredientList">{{prop[0]}} {{prop[1]}} {{key}} </div>
      <div class="recipe"> <hr> <strong> Recipe List </strong> 
          <div ng-repeat="recipe in list">
            <div class="recipeName" ng-click="open(recipe.RecipeID)"> {{recipe.Title}} </div>
            <img class="recipeImage" ng-click="removeFromList(recipe.RecipeID)" align='middle'src="x.png">
          </div>
      </div>
    </div>
  </div>

  <div id="search">
    <form ng-model="searchCriteria" id="searchform">
      <label id="label" for="searchtext">search: </label>
      <input id="searchtext" name="searchtext" type="text" />
    </form>
  </div>

  <!-- ==================== Login Modal HTML ======================= -->
  <div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="email-input">Email address</label>
                <input type="email" class="form-control" id="email-input" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input type="password" class="form-control" id="password-input" placeholder="Password">
              </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default">Login</button>
            <button type="button" class="btn btn-primary">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ============  Header  ========================  -->
  <header id="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spartecipes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Recipes<span class="sr-only">(current)</span></a></li>
            <li id="menu-toggle"><a href="#">Shopping Cart</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#myLogin">Log in</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Shopping list</a></li>
                <li><a href="#">Log Out</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="video-big"></div>
    <div class="page-header">
      <h1 class="header-container">Welcome to Spartecipes <br> <small>"this is where we hold them!"</small></h1>
    </div>
  </header>
</div>
<div class="jumbotron">
  <div class="container content-one">  
    <div class="row">
      <div class="list col-md-6" ng-repeat="recipe in data.recipes | orderBy: '-StarRating' | limitTo:30">
        <div ng-click="open(recipe.RecipeID)" class="picture" style="background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                    ),  url({{recipe.ImageURL}});">
          <h4 class="text">{{recipe.Title}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<ui-view></ui-view>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  
  <!-- ==================== App JS Files ======================= -->
  <script src="dist/scripts/app.js"></script>


</body>
</html>

