<!DOCTYPE html>
<html ng-app='recipes'>
<head>
  <title>Recipes &amp; Shopping List | by Spartecipes</title>

  <!-- ==================== App Stylesheets ======================= -->
  <link rel="stylesheet" href="dist/styles/style.min.css">


  <!-- ==================== Bower CSS Dependencies ======================= -->
  <!-- bower:css -->
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  <!-- ==================== Bower JS Dependencies ======================= -->
  <!-- bower:js -->
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <base href="/">
</head>

<!-- ==================== KeypressEvents Directive ======================= -->

<body ng-controller="HeaderController" keypress-events>
<search></search>
<!-- ==================== Search Modal Directive ======================= -->


<div id="HeaderController">
  <!-- ====================  Search bar HTML ======================= -->
  <div id="wrapper">

    <div id="sidebar-wrapper">
      <div class="sidebar">
        <span class="title"> <strong> Ingredient List</strong> </span>
        <img id="wrap2" align="middle" src="x.png">
      </div>
        <div class="recipeList"ng-repeat="(key, prop) in ingredientList">{{prop[0]}} {{prop[1]}} {{key}} </div>
      <div class="recipe"> <hr> <strong> Recipe List </strong>
          <div ng-repeat="recipe in list">
            <div class="recipeName" ng-click="open(recipe.RecipeID)"> {{recipe.Title}} </div>
            <img class="recipeImage" ng-click="removeFromList(recipe.RecipeID)" align='middle'src="x.png">
          </div>
      </div>
    </div>
  </div>

  <!-- ============  Header  ========================  -->
  <header id="header">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spartecipes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Recipes<span class="sr-only">(current)</span></a></li>
            <li id="menu-toggle"><a href="#">Shopping Cart</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <!-- ==================== Login/Logout Directive ======================= -->
            <li login></li>
            <li logout></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="video-big"></div>
    <div class="page-header">
      <h1 class="header-container">Welcome to Spartecipes <br> <small>"this is where we hold them!"</small></h1>
    </div>
  </header>
</div>
<!-- ====================  ui-view  ========================  -->
<div class="jumbotron">
  <div class="container">
    <div class="ui-view-container">
      <div ui-view></div>
    </div>
  </div>
</div>

 <!--<script type="text/ng-template" id="RecipeContent.html">
    <div class="head">
      <h4><strong>{{currentRecipe.Title}}</strong></h4>
      <h5><strong>{{currentRecipe.Category}} - {{currentRecipe.Subcategory}}</strong></h5>
      <h5><strong>Ingredients:</strong></h5>
        <div class="ingredients" ng-repeat="ingredient in currentRecipe.Ingredients">{{ingredient.DisplayQuantity}} {{ingredient.Unit}} {{ingredient.Name}}<br></div>
      <h5><strong>Instructions:</strong></h5>
        <div class="ingredients">{{currentRecipe.Instructions}}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="no()">Go Back</button>
      <button class="btn btn-primary" type="button" ng-click="ok()">Add Recipe</button>
    </div>
  </script>-->
  <div class="navbar navbar-fixed-bottom"></div>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


  <!-- ==================== App JS Files ======================= -->
  <script src="dist/scripts/app.js"></script>


</body>
</html>

