<div class="container content-one">
  <div class="col-centered">
    <div class="row-centered">
      <div class="list col-md-3" ng-repeat="recipe in data.recipes | orderBy: '-StarRating' | limitTo:30">
        <div ng-click="open(recipe.RecipeID)" class="picture" style="background-image: linear-gradient(
                                    rgba(0, 0, 0, 0.5),
                                    rgba(0, 0, 0, 0.5)
                                    ),  url({{recipe.ImageURL}});">
          <h4 class="text">{{recipe.Title}}</h4>
        </div>
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="RecipeContent.html">
    <div class="head">
      <h4><strong>{{currentRecipe.Title}}</strong></h4>
      <h5><strong>{{currentRecipe.Category}} - {{currentRecipe.Subcategory}}</strong></h5>
      <h5><strong>Ingredients:</strong></h5>
        <div class="ingredients" ng-repeat="ingredient in currentRecipe.Ingredients">{{ingredient.DisplayQuantity}} {{ingredient.Unit}} {{ingredient.Name}}<br></div>
      <h5><strong>Instructions:</strong></h5>
        <div class="ingredients">{{currentRecipe.Instructions}}</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="no()">Go Back</button>
      <button class="btn btn-primary" type="button" ng-click="ok()">Add Recipe</button>
    </div>
  </script>
</div>
