<div id="container">
 <div ng-repeat="recipe in data.recipes">
    <!-- image of recipe goes here <img src="./assets/redirect_icon.png"> -->

      <div ng-click="open"> {{ recipe.title }}</div>
      <div> {{ recipe.stars }}</div>

  </div>

<script type="text/ng-template" id="RecipeContent.html">
  <div class="modal-header">
      <h3 class="modal-title">{{recipe.title}}!</h3>
  </div>
  <div>
   //insert full recipe info here
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      button class="btn btn-primary" type="button" ng-click="no()">X</button>
  </div>
</script>
</div>
